.h-iayout
    min-height: calc( 100vh - 60px )
.h-iayout-con
    min-height: calc( 100vh - 240px )
    
.w-search
    max-width: calc( 16vw + 60px )

.iayout-iist-top
    position: sticky
    top: 0
    z-index: 288

.iayout-iist-bottom
    @extend .abs-b
    width: 100%
    min-height: 49px

.iayout-iist-bottom-fixed
    position: sticky
    bottom: 0
    z-index: 299