
$input-err: #e84160
$input-err-hv: #e02f4f

.fx-input-err
    //

.input-err
    border-color: $input-err
    &:hover
        border-color: $input-err-hv

    label
        color: $input-err
        &:hover
            color: $input-err-hv
