$cons: ( 'bg': $bg, 'bg-con': $bg-con, 'bg-card': $bg-card )

@each $k, $v in $cons
    .#{$k}
        background: $v
    .#{$k}-son, .#{$k}-son *
        background: $v
    .#{$k}-hv:hover
        background: $v