$fonts: ( 'tit': $tit, 'tis': $tis, 'ttd': $ttd, 'sub': $sub, 'sut': $sut, 'sus': $sus, 'wht': $wht, 'pri': $pri, 'pri-wht': $pri-wht )

@each $k, $v in $fonts
    .#{$k}
        color: $v
    .#{$k}-son, .#{$k}-son *
        color: $v
    .#{$k}-hv:hover
        color: $v
     

h1, h2, h3, h4, h5, h6
    color: $tit
// .h1, .h2, .h3, .h4, .h5, .h6


// 其他文字顏色
.refund
    color: #717172
    &:hover
        color: #666667