
// ===========================
//
.fx-wp
    flex-wrap: wrap
.fx-1
    flex: 1

// 
.fx-t, .fx-b, .fx-i, .fx-r, .fx-c, .fx-s
    display: flex

.fx-i, .fx-r, .fx-c, .fx-s
    align-items: center

.fx-s
    justify-content: space-between
.fx-i
    justify-content: flex-start
.fx-r
    justify-content: flex-end
.fx-c
    justify-content: center

// ===========================
//
.fx-t
    align-items: flex-start
.fx-b
    align-items: flex-end
     
//   
.jc-c
    justify-content: center
.jc-t, .jc-fs
    justify-content: flex-start
.jc-t-imp, .jc-fs-imp
    justify-content: flex-start !important
.jc-s, .jc-sb
    justify-content: space-between
.ai-fs
    align-items: flex-start
.ai-fs-imp
    align-items: flex-start !important
.ai-c
    align-items: center