

.btn-txt
    @extend .hand
    color: $pri
    &:hover
        color: $pri-hv

.btn-txt, .btn-tab
    //   

.btn-tab
    color: $btn-tab-c
    background: $btn-tab
    border: 1px solid $btn-tab-bd
    @extend .fx-hv-tab
    @extend .fx-fcs-tab
    @extend .fx-shd-tab

.btn-weak
    background: $btn-weak
    @extend .fx-hv-weak
    @extend .fx-fcs-weak
    @extend .fx-shd-weak
    