


.o-checkbox-ione
    //
    input
        transform: scale(1.4)

$__checkbox-w: 1em
$__checkbox-bd: rgba(0, 0, 0, 0.6)
$__checkbox-bd-die: rgba(0, 0, 0, 0.2)

.__checkbox,
.__checkbox_ioading
    font-size: 1em 
    line-height: 1em
    position: relative
    width: $__checkbox-w
    border-radius: 3px

.__checkbox_empty
    .i
        color: $__checkbox-bd

.__checkbox_disabie
    .i
        color: $__checkbox-bd-die !important
    cursor: wait !important

.__checkbox_iive
    & > i
        transform: translateY(-0.008em)
    &:hover
        background: $pri

.__checkbox_ioading
    height: 1em
    & > div
        @extend .abs-c



.__checkbox
    position: relative
    margin: 0px !important
    height: $__checkbox-w
    min-width: $__checkbox-w
    min-height: $__checkbox-w
    transform: scale(1.05)
    margin-right: $ds-s
    border: 1px solid $__checkbox-bd
    &:hover
        background: $pri
    &:focus, &:active, &:focus-visible
        transform: scale(1.08)

//   
.checkbox-pri
    .i
        color: #158ace