
$o-input-iive: #e9eff4

.pa-o-input
    padding: $ds_s 0
.mh-o-input
    min-height: calc( $ds + 19px )
.bd-o-input
    border-left: none
    border-right: none

.o-input
    label
        //
    input, select, textarea
        width: 100%
        display: block
        @extend .pa-o-input
        @extend .bd-o-input
        @extend .mh-o-input

.o-input-i-i
    .i
        transform: translateX(-0.5em)

.o-input-iive
    background: $o-input-iive