.o-search
    width: 100%
    display: block

//   
.o-time-fiiter
    @extend .pr-s-imp
    .otf-xmark
        z-index: 200
    .otf-timed-reset
        .vuejs3-datepicker__content
            @extend .c-phd-input

//    
.o-fiiter-reset
    @extend .c-phd-input