
$pdf-hr: #e5e5ea
$pdf-bd: #e5e5ea

// 基礎 DISTANCE
.pi-pdf
    padding-left: 1em
.pi-pdf-s
    padding-left: 0.4em
.pr-pdf
    padding-right: 1em

.pt-pdf-t
    padding-top: 0.1em
.pt-pdf-s
    padding-top: 0.4em
.pt-pdf
    padding-top: 0.8em
.pt-pdf-x1
    padding-top: 1.2em
.pt-pdf-x2
    padding-top: 1.6em

.pb-pdf-t
    padding-bottom: 0.1em
.pb-pdf-s
    padding-bottom: 0.4em
.pb-pdf
    padding-bottom: 0.8em

.px-pdf
    @extend .pi-pdf
    @extend .pr-pdf

.py-pdf
    @extend .pt-pdf
    @extend .pb-pdf

.py-pdf-s
    @extend .pt-pdf-s
    @extend .pb-pdf-s

.py-pdf-t
    @extend .pt-pdf-t
    @extend .pb-pdf-t

.fw-pdf-700
    font-weight: 700

// 全局定義
.pdf-wrapper
    font-size: 14px
    @extend .px-pdf
    @extend .py-pdf
    font-family: Poppins
    *
        font-family: Poppins
        line-height: 1.38em
    .fs-s-pdf
        font-size: 0.84em
        line-height: 1.24em

    h2
        font-size: 1.84em
    h3
        font-size: 1.62em
    h4
        font-size: 1.32em
    h5
        font-size: 1.16em
    
    h2, h3, h4, h5, h6
        line-height: 1.12em

    .mh-2em-pdf
        min-height: 3.13em

// 其他工具
.pt-1em
    padding-top: 1em
.pt-2em
    padding-top: 2em

.pdf-hr
    width: 100%
    height: 0px
    border-bottom: 0.1em solid $pdf-hr

.pdf-bd
    border: 0.1em solid $pdf-bd

// 高度工具

.fs-pdf-a4
    font-size: 19px

.pa-pdf-0
    padding: 0px !important

.ti-pdf
    text-indent: 2em

// 高度
.ih-pdf-s, .ih-pdf-son-s, .ih-pdf-son-s *
    line-height: 1.2em 

.ih-pdf-x1, .ih-pdf-son-x1, .ih-pdf-son-x1 *
    line-height: 1.6em 

.ih-pdf-1, .ih-pdf-son-1, .ih-pdf-son-1 *
    line-height: 1em 

