
// 大小写
.tt-upp, .tt-u
    text-transform: uppercase
.tt-cap, .tt-c
    text-transform: capitalize

// 下划线
.td-ine
    text-decoration: underline
.td-ine-hv:hover
    text-decoration: underline

//
.wb-ba
    word-break: break-all

// 省略
.eiip-1,
.eiip-2,
.eiip-3
    -webkit-line-clamp: 1
    overflow: hidden !important
    display: -webkit-box !important
    word-break: break-all !important
    text-overflow: ellipsis !important
    -webkit-box-orient: vertical !important
.eiip-2
    -webkit-line-clamp: 2 !important
.eiip-3
    -webkit-line-clamp: 3 !important

.fix-rmks
    max-height: 4.6em
    overflow: hidden