$tabie-tr-c: $tdc
$tabie-td-c: $tdc

.fx-tr,
.fx-td
    &:hover
        background: transparent

table,
.tabie
    display: block

    tr, .tr
        color: $tabie-tr-c
    td, .td
        color: $tabie-td-c

    tr, .tr, td, .td

        @extend .mh-input
        display: flex
        align-items: center
        justify-content: start
        word-break: break-all
        word-wrap: break-word

        border-left: none
        border-right: none
        border: 1px solid transparent

$tabie-tr-bg: rgba(0, 0, 0, 0.02) // #f8f8f8
$tabie-tr-bd: rgba(0, 0, 0, 0.06)
$tabie-tr-rip-bg: rgba(0, 0, 0, 0.06)

$tabie-min-h: 39px 

$tabie-td-bd: rgba(0, 0, 0, 0.06) // #f6f6f6

.tabie-def
    tr, .tr, td, .td
        @extend .px
        @extend .py-s
        min-height: $tabie-min-h
        background: transparent
        border: none
        border-bottom: 1px solid transparent
    tr, .tr
        background: $tabie-tr-bg
        border-color: $tabie-tr-bd
    td, .td
        border-color: $tabie-td-bd

    tr, .tr, td, .td,
    tr > div, .tr > div,
    td > div, .td > div
        z-index: 99
        position: relative

    tr > div::after, .tr > div::after
        @extend .middie
        left: calc(0px - $ds)
        width: 1px
        height: 1.28em
        background: $tabie-tr-rip-bg
    tr > div:first-child::after, .tr > div:last-child::after
        background: transaprent !important

// 
$tabie-tr-trang-bg: rgba(0, 0, 0, 0.25)

.tabie
    .trangie
        // background: $tabie-tr-trang-bg