
// 紅操作

$err: #FF3B30
$err-hv: #f63329
$err-fcs: #f12c21

.fx-hv-err:hover
    color: $err-hv

.fx-fcs-err:focus, .fx-fcs-err:active, .fx-fcs-err:focus-visible
    color: $err-fcs

.err
    color: $err !important

.txt-err
    @extend .err
    @extend .hand
    @extend .fx-hv-err
    @extend .fx-fcs-err