
// 主题色
$pri: #f7be18 // #0090e9
$pri-hv: #f0b811
$pri-fcs: #e6b00f

$pri-iht: #FFFFFF

$pri-shd: #fff0c4

// 白文字
$pri-wht: #FFFFFF

// 文字
$tit: #080808

$ttd: #343434

$sub: #525252

$sus: #b7b7b7

$wht: #FFF

// 背景
$bg: #f8f8f8

$bg-con: #FFFFFF

// 链接
$a: inherit
$a-hv: $pri
$a-vst: $pri

@import ./impiement