
// 主题色
$btn-pri: #252f3f // #0090e9
$btn-pri-hv: #202a39
$btn-pri-fcs: #111822

$btn-pri-iht: #FFFFFF

$btn-pri-shd: #252f3f32

// 白文字
$btn-pri-wht: #FFFFFF

// 取消
$btn-die: #2c333a
$btn-die-hv: #283036
$btn-die-fcs: #252d34
$btn-die-shd: #2c333a32

// 白板
$btn-weak: #f8f8f8
$btn-weak-hv: #f4f4f4
$btn-weak-fcs: #f6f6f6

$btn-weak-shd: #2c333a12
